<div id="page">

  {{ page.header }}
  {{ page.highlighted }}

  <navigation id="navigation">
    <div class="navigation--container">
      {{ page.navigation }}
    </div>
  </navigation>
  <div class="highligted">
    <div class="highlighted--wrapper">
      {{ page.highlighted }}
    </div>
  </div>
  {% if page.slideshow %}
    <div id="slideshow">
      {{ page.slideshow }}
    </div>
  {% endif %}
  <section id="main">
    {% if page.sidebar %}
      <div class="container-with-sidebar">
    {% else %}
      <div class="container-no-sidebar">
    {% endif %}
      <div class="row">
        <div id="content" class="col-md-9 col-sm-9 col-xs-12">
          {{ page.content }}
        </div>
        {% if page.sidebar %}
          <aside id="sidebar" class="sidebar col-md-3 col-sm-3 col-xs-12">
            {{ page.sidebar}}
          </aside>
        {% endif %}
      </div>
    </div>
  </section>
  {% if page.footer %}
    <footer id="footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
</div>